.clear
    clear both

.hide
    display none

.faded
    opacity 0.6
.faded-lightly
    opacity 0.8
.faded-heavily
    opacity 0.4

.bolded
    font-weight 600
.bolded-lightly
    font-weight 400
.bolded-heavily
    font-weight 900